body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.widthLi {
    display: inline-block;
    width: 45%
}

.navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    background: red;
    padding: 10px;
}

.sidebar li {
    color: #a6acaf;
}

.sidebar li:hover {
    background: #444;
    border-left: 5px solid #eee;
}

.sidebar a {
    display: block;
    color: #040505;
    padding: 12px;
    text-decoration: none;
}

.contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    background: green;
}

.menu-bar {
    cursor: pointer;
}

.abrir {
    transform: translateX(210px);
}

#msj_verde {
    background: #1abc9c;
    border-color: #1abc9c;
    width: 300px;
    float: right;
}

#msj_azul {
    background: #5499c7;
    border-color: #5499c7;
    width: 300px;
    float: right;
}

#msj_azul_fijo {
    background: #5499c7;
    border-color: #5499c7;
}

#msj_rojo {
    background: #b03a2e;
    border-color: #b03a2e;
    width: 300px;
    float: right;
}

#menu-desplegable input[name="list"] {
    position: absolute;
    left: -1000em;
}

#menu-desplegable .interior {
    display: none;
}

#menu-desplegable input:checked~ul {
    display: block;
}

.modal-lg {
    max-width: 70% !important;
}


/* Important part */

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 80vh;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}